.container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  max-width: 379px;
}

.titulo {
  font-size: 32px;
}

.subtitulo, .paragrafo {
  font-size: 16px;
}

.produtos {
  width: 50%;
}

.paragrafo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFCB47;
}

.paragrafo:hover {
  font-weight: bold;
  transition: .3s;
}