.container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 379px;
  box-shadow: 10px 10px 30px 0px #0000000f;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 32px;
}

.subtitulo, .paragrafo {
  font-size: 16px;
}

.produtos {
  width: 50%;
}

.paragrafo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFCB47;
}

.paragrafo:hover {
  font-weight: bold;
  transition: .3s;
}