.container {
  position: relative;
  display: flex;
  max-width: 100%;
  padding: 15px;
}

.container__texto {
  max-width: 585px;
}

.subtitulo {
  font-size: 22px;
}

.titulo {
  font-size: 82px;
  margin: 0;
}

.paragrafo {
  font-weight: 400;
  opacity: 50%;
  max-width: 80%;
}

.container__input {
  padding: 15px 0;
}

.input__email,
.btn {
  box-shadow: 10px 10px 30px 0px #0000000f;
  
  border: none;
  border-radius: none;
  font-size: 16px;
}

.input__email {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.39);
  padding: 13px 15px;
}

.input__email:focus {
  outline: 2px solid #4caf50; /* Define a cor e a largura do contorno */
  outline-offset: -2px; /* Define a distância entre o contorno e o elemento */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Adiciona um efeito de sombra ao redor do input */
}

.btn {
  background-color: #ffbf47;
  color: #ffffff;
  width: 30%;
  padding: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #e6a638;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 60px;
    margin: 20px 0;
  }

  .subtitulo {
    font-size: 26px;
    margin: 15px 0;
  }

  .paragrafo {
    font-size: 22px;
  }

  .container__input {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    max-width: 100%;
  }

  .input__email {
    width: 320px;
    padding: 10px;
  }

  .btn {
    width: 342px;
  }
  
}

@media (min-width: 920px) {
  .container__imagem {
    position: absolute;
    background-image: url("assets/images/arvore-fundo1.png");
    background-repeat: no-repeat;
    height: 100vh;
    right: 40px;
    top: 0px;
    width: 50%;
  }
}
